.sectionTheBlog {
    display: flex;
    justify-content: center;
    width: 95%;
    min-height: 80vh;
    box-sizing: border-box;
    background-color: rgb(252, 246, 238);
}

.divTheBlog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    background-color: rgb(190, 219, 227);
    padding: 0 30px 12px 30px;
}

.divTheImageBlog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 200px;
    background-color: pink;
}

.postTitle {
    font-size: var(--font-size-m);
    text-transform: uppercase;
}

.postImage {
    min-width: 300px;
    height: 100%;
    object-fit: cover;
}

.postContent {
    font-size: var(--font-size-m);
}