.sectionTheDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 80vh;
    box-sizing: border-box;
}

.divDesignStory {
    width: 100%;
    min-height: 80%;
    text-align: left;
}

.divDesignStory img {
    float: left; /* texto envuelve imagen */
    max-width: 34em;
    padding: 0 30px 12px 30px;
    object-fit: cover;
    filter: grayscale(100%);
}


.divDesignStory h2 {
    font-family: var( --font-sansation);
    font-weight: 100;
    font-size: var(--font-size-m);
    color: var(--color-text);
    margin: 0 var(--margin-m);
}

.divDesignStory p {
    font-weight: 100;
    text-align: justify;
    padding: var(--padding-l)
}


@media screen and (max-width: 480px) {

    .sectionTheDesign {
        padding: var(--padding-m);
    }

    .divDesignStory {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .divDesignStory img {
        max-width: 100%;
    }

    .divDesignStory p {
        text-align: justify;
        padding: var(--padding-m)
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){

    .sectionTheDesign {
        padding: var(--padding-m);
    }

    .divDesignStory {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .divDesignStory img {
        max-width: 100%;
    }

    .divDesignStory p {
        text-align: justify;
        padding: var(--padding-l)
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px){

    .divDesignStory p {
        text-align: justify;
        padding: var(--padding-m)
    }
}

@media screen and (min-width: 1024px) and (max-width: 1443px) {
    
}

@media screen and (min-width: 1444px) and (max-width: 1919px) {

    .divDesignStory img {
        margin-bottom: var(--margin-l);
    }
}


