@font-face {
  font-family: 'sansation';
  src: url('/assets/fonts/sansation/Sansation-Bold.ttf') format('truetype'); font-weight:lighter; font-style: normal;
}

/* FUENTE DEL BRANDING */
@font-face {
  font-family: 'walkway';
  src: url('/assets/fonts/Walkway/Walkway_UltraBold.ttf') format('truetype'); font-weight:lighter; font-style: normal;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1, h2, h3 li, a, p, span {
  color: var(--color-text);
  text-decoration: none;
}

p {
  text-align: justify;
  font-family:sans-serif;
  font-weight: 100;
}

h1 {
  font-family: var( --font-walkway);
  font-size: var(--font-size-xxl);
  letter-spacing: 1px;
}

h2, h4, li, span {
  font-family: var( --font-sansation);
  font-size: var(--font-size-s);
  font-weight: 100;
  color: var(--color-text);
}

li {
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.page-enter {
  opacity: 1; /* Página sin opacity al comienzo */
}

.page-enter-active {
  opacity: 0.3; /* Sigue siendo visible durante la transición */
  transition: opacity 0s ease-out; 
}

.page-exit {
  opacity: 1; /* Página sin opacity al salir */
}

.page-exit-active {
  opacity: 1; /* Estado final al salir */
  transition: opacity 0.6s ease-out; /* Transición suave al ocultarse */
}




@media screen and (max-width: 480px) {

  h1 {
    font-size: var(--font-size-m);
  }
  
  h2 {
    font-size: var(--font-size-s);
  }

  li a {
    font-size: var(--font-size-xs);
  }
}


@media screen and (min-width: 481px) and (max-width: 768px){

  h1 {
    font-size: var(--font-size-l);
  }
  
  h2, li {
    font-size: var(--font-size-s);
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px){

  h1 {
    font-size: var(--font-size-l);
  }
  
  h2, li {
    font-size: var(--font-size-s);
  }

}

@media screen and (min-width: 1024px) and (max-width: 1443px){

  h1 {
    font-size: var(--font-size-xl);
  }
  
  h2, li {
    font-size: var(--font-size-s);
  }
}


@media screen and (min-width: 1444px) and (max-width: 1919px) {

}

@media screen and (min-width: 1920px) {
  
}